# --- C++ Build Files ---
backend/build/
backend/out/
*.exe
*.o
*.obj
*.pdb
*.ilk
*.suo
*.sln
*.vcxproj
*.user
.vs/
backend/vcpkg_installed/

# --- Node JS (Frontend) ---
frontend/node_modules/
frontend/dist/
frontend/.env
.DS_Store

# --- Python ---
__pycache__/
*.pyc
venv/
env/

# --- Logs & OS ---
*.log
Thumbs.db